<form [formGroup]="formBuilder" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Form Builder</h3>
        </div>
       <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="fullName">Full Name</label>
        <div class="col-sm-8">
            <input id="fullName" formControlName="fullName" type="text" class="form-control">
        </div>    
    </div>
    <div class="form-group">
     <label class="col-sm-2 control-label" for="email">Email</label>
     <div class="col-sm-8">
       <input id="email" formControlName="email" type="text" class="form-control">
    </div>    
       </div>
       <div formGroupName="skills">

        <div class="form-group">
          <label class="col-sm-2 control-label" for="skillName">
            Skill
          </label>
          <div class="col-sm-4">
        <input type="text" class="form-control" id="skillName" placeholder="Name" formControlName="skillName">
        </div>
        <div class="col-sm-4">
        <input type="text" class="form-control" id="experienceInYears" placeholder="Experience In Years" formControlName="experienceInYears">
        </div>
      
      </div>
      <div class="form-group row"  >
        <label class="col-sm-2 control-label">Proficiency Level</label>
          <div class="col-sm-8">
            <label class="radio-inline">
        <input type="radio" value="beginner" formControlName="proficiency">Beginner
      </label>
      <label class="radio-inline">
        <input type="radio" value="intermidiate" formControlName="proficiency">Intermidiate
      </label>
      <label class="radio-inline">
        <input type="radio" value="advance" formControlName="proficiency">Advanced
      </label>
      </div>
      </div> 
       </div>

    </div>
  <div class="panel-footer"> 
    <div class="btn-toolbar">
  <button class="btn btn-primary" type="submit">Save</button>
  <button class="btn btn-primary" type="button" (click)="onLoadDataClick()">Load Data</button>
</div>  
</div>
    </div>
</form>
<table border="1">
    <tr>
      <th style="padding: 10px">FormGroup</th>
      <th style="padding: 10px">FormControl (fullName)</th>
    </tr>
    <tr>
      <td style="padding: 10px">
        touched : {{ formBuilder.touched }}
        <br/> dirty : {{ formBuilder.dirty }}
        <br/> valid : {{ formBuilder.valid }}
        <br/> Form Values : {{formBuilder.value | json}}
      </td>
      <td style="padding: 10px">
        touched : {{ formBuilder.get('fullName')?.touched }}
        <br/> dirty : {{ formBuilder.get('fullName')?.dirty }}
        <br/> valid : {{ formBuilder.get('fullName')?.valid }}
        <br/> FullName Value : {{formBuilder.get('fullName')?.value}}
      </td>
    </tr>
  </table>